body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

li span {
    flex-grow: 1;
    margin-right: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 5px;
    padding-right:10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #3498db;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}


button.clear-button:hover {
    background-color: #c0392b;
}


button.clear-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    float: right;
    margin-top: -28px;
}

button.clear-button:hover {
    background-color: #c0392b;
}

input.edit {

    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;

}

button.edit {
    width: 60px;
    margin-left: 10px;
    height: 30px;
    border-radius: 3px;

}